body {
    color: white;
    background-color: black;
    
}


#entête1{
    padding: 40px;
    position: relative;
    left: 5cm;
}
.entête2{
   position: fixed;
   top: 40px;
   right: 5cm;
   font-size: 40px;
   text-decoration: none;
   color: white;
}
.entête2 a{
    text-decoration: none;
    color: white;
}
.paragraphe{
    text-align: center;
    margin-top: 100px;
    font-size: large;
}
h2{
    text-align: center;
}
.deuxliens{
    text-align: center;
    
}
.deuxliens {
    text-align: center; /* Centrer horizontalement les éléments à l'intérieur de .deuxliens */
}

.bouton {
    display: inline-block;
    padding: 10px 20px;
    background-color:silver;
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-right: 40px; /* Ajoute un espace entre les boutons */
    margin-top: 40px;
}

.bouton:hover {
    background-color:silver;
    border-color: white;
}
.section1{
    background-image: url(Assets/Illustrations/Bathome1.png);

}   
.contenaire{
    display: flex;
    height: 750px;
}
.column1{
    flex-basis: 90%;
    padding: 0%;
    text-align: left;
}
.column2{
    flex-basis: 1%;
    padding: 0%;
    margin-top: 200px; 
    text-align: center;
}
.section2{
    background-color: black;
}
.fleche1{
    text-align: center;
}
.Batman{
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
}
.p1{
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
}
.contenaire1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.columnI,
.columnII,
.columnIII {
    flex: 1; /* Les colonnes occupent un espace égal */
    text-align: center; /* Alignement du contenu au centre si nécessaire */
}
.NEMESIS{
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
}
.NEMESIS img{
    width: 100px; 
    height: auto;
}
.p2{
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
}
.contenaire2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.columnA,
.columnB,
.columnC{
    flex: 1; /* Les colonnes occupent un espace égal */
    text-align: center;
}
.tokana{
    text-align: right;
    margin-top: 0px;
}
.allié{
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
    text-transform: uppercase;
}
.texte2{
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
}
.contenaire3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column11,
.column12,
.column13{
    flex: 1; /* Les colonnes occupent un espace égal */
    text-align: center; /* Alignement du contenu au centre si nécessaire */
}
.Justice{
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
    text-transform: uppercase;
}
.pj{
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
    text-transform: none;
}
.multimedia{
    background-color: black;
}
.titreM{
    text-transform: uppercase;
    margin-top: 0px;
    text-align: justify;
    padding: 0 100px;
}