#entête1{
    padding: 40px;
    position: relative;
    left: 5cm;
}
.entête2{
   position: fixed;
   top: 40px;
   right: 5cm;
   color: white;
   
}
.section1{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
}
.paraphe{
    text-align: center;
}