
@font-face {
    font-family: rajdhani;
    src: url(../police/Rajdhani-Medium.ttf);
}
:root{
        --couleur-principale: #FFFF00;
        --couleur-secondaire: #F8F184;
        --couleur-background: #19587D;
        --couleur-texte: #FFFFFF;
        --gradient-couleur:var(--gradient-couleur)
        
    }
    
    body {
        color: var(--couleur-texte);
        background-color: var(--couleur-background);
    }
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}
.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 210px;
}
.scroll .social{
    margin-top: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: rajdhani;
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: rajdhani;
    font-size: 20px;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: black;
    color: white;
    font-family: "Space Grotesk" ,sans-serif;
    font-weight: 300;
}
/*Design de la navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul{
    list-style: none;
}
nav ul a{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500px;
    font-family: rajdhani;
    
}
nav ul a:hover{
    color: #FFFF00;
}
/*Design de la partie hero */
#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587D;
    background-size: cover;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
}
#hero .titre{
    margin: 20px 0;
}
.btn{
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 3px 20px;
    background: linear-gradient(

    );
}
/*Design de la section batman-personnage*/
#batman-cinéma,#batman-justice-league
{
    margin-top: 40px;
}
#batman-cinéma .titre,#batman-justice-league .titre .description
{
    margin: 30px 0;
}
#batman-cinéma .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
}
#batman-cinéma .personnage-info{
    text-align: center;
}

.batman-personnage{
    display: flex;
    justify-content: space-between;
}

.carte-allié{
    display: flex;
    justify-content: space-between;
}
/*Design de la partie multimédia*/
#multimédia .slider-multimédia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}
#multimédia .slider-image{
    width: 100%;
}
#multimédia .slide-content{
    padding: 15px;
    background-color: silver;
}
#multimédia p{
    font-size: 14px;
}
.yellow{
    color: #FFFF00;
}
.image-bande-annonce{
    text-align: center;
}
#némésis .carte-adversaire-item{
    display: flex;
    justify-content: space-between;
}
#némésis .carte-adversaire{
    display: flex;
    justify-content: space-between;
}